@{
    ViewBag.Title = "Giới thiệu - StartUp VITV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row startup_about">    
    <div class="row to_customer_area">
        <div class="col-md-12">
            <p><img src="~/Content/img/sab4.jpg" /></p>
            <p>Trở thành doanh nhân đang là ước muốn của 67,2% người trưởng thành ở Việt Nam. Nhưng chỉ có 18,2% có ý định khởi sự kinh doanh. Từ ý định đến việc thực sự bắt tay khởi nghiệp chỉ còn khoảng 2%.</p>
            <p>Nghiên cứu GEM 2014 đã chỉ ra rằng, ở các quốc gia càng phát triển, người dân càng cẩn thận hơn khi tham gia vào kinh doanh, nghĩa là họ sợ khởi nghiệp hơn. Và ngược lại, các quốc gia đang phát triển sẽ không ngại khởi nghiệp, không ngại rủi ro, khó khăn. Tuy nhiên, Việt Nam đang đi ngược lại với xu thế đó, khi mà tỷ lệ lo sợ thất bại khi khởi nghiệp đang ở mức cao: tới 50,1%.</p>
            <p>Những lo sợ đó, có lẽ, một phần bắt nguồn từ việc thiếu sự hỗ trợ thực sự từ phía Chính phủ, truyền thông, các tổ chức kinh tế, xã hội. Trong đó, bức tranh Hệ sinh thái khởi nghiệp sẽ không hoàn thiện nếu thiếu Media – truyền hình, báo giấy, báo online, facebook, các diễn đàn mạng xã hội… nhằm cung cấp nhanh nhất, chính xác nhất và đầy đủ sâu sắc các vấn đề của môi trường khởi nghiệp Việt Nam, giúp sinh viên, thế hệ trẻ và người đam mê khởi nghiệp kinh doanh có định hướng tốt hơn khi đưa ra quyết định nghề nghiệp, cũng như đủ kiến thức, sự bền bỉ theo đuổi con đường khởi nghiệp đến cùng.</p>
            <p><img src="~/Content/img/sab2.jpg" /></p>
            <p>VITV -  “Khởi nguồn kinh doanh” khởi động dự án “Truyền thông khởi nghiệp bền vững” với mong muốn cùng hỗ trợ, sát cánh cùng các ý tưởng, đam mê, khát khao của tuổi trẻ.</p>
            <p>Với Tạp chí “Startup 360”, website startup.vitv.vn, cùng nhiều hoạt động hỗ trợ cộng đồng khác, VITV mong muốn trở thành bạn đồng hành trên chặng đường khởi nghiệp của bạn.</p>
            <p><img src="~/Content/img/sab3.jpg" /></p>
            <p>Mọi thông tin chi tiết, vui lòng liên hệ qua fanpage chính thức của VITV Startup.</p>
            <p>Facebook: <a href="https://www.facebook.com/VITV.Startup/" target="_blank">facebook.com/VITV.Startup</a></p>
            <p>Email: vitv.startup@gmail.com</p>
        </div>
    </div>        
</div>

@section scripts{
    <script>
        $('.home_about').hide();
    </script>
}