@model CreateRoleModel


<div class="form-group">
    <label class="col-lg-2 control-label">Tên</label>
    <div class="col-lg-10">
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "help-block" })
    </div>
</div>
