@model List<ReporterGroupView>

@{
    ViewBag.Title = "Cộng đồng VITV";
    Layout = "~/Views/Shared/_VideosLayout.cshtml";
}

<div class="row">
    <div class="all_reporter_cover" style="background-image:url('/Content/Images/rp_cover.jpg')"></div>
</div>
<div class="row all_reporter">
    <div class="row vline">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#all_reporter_filter">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                        <a href="/Reporter/Index"><h3 class="navbar-brand">THÀNH VIÊN VITV</h3></a>
                    </div>
                    <div class="collapse navbar-collapse" id="all_reporter_filter">
                        <div class="navbar-form navbar-right" role="search" id="formsearch">
                            <div class="form-group">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tìm theo tên" id="searchinput">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-danger" id="buttonsearch">Xem</button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="all_reporter_content" id="browse-results">
        <div class="container">
            @foreach (ReporterGroupView p in Model)
            {
                if (p.Reporters != null && p.Reporters.Count > 0)
                {
                    ViewBag.isEmp = p.Id == 4;//Nhan vien                
                    <div class="row single_filter">
                        <div class="col-md-12">
                            <h4 class="wow fadeInDown" data-wow-duration="400ms" data-wow-delay="0ms">@p.Name</h4>
                        </div>

                        @Html.Partial("_List", p.Reporters.OrderBy(r=>r.PositionId).ToList())
                    </div>
                }
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/toggle.js"></script>
}

@section seo{
    <meta name="description" content="Cộng đồng VITV, Ban lãnh đạo VITV, Biên tập viên, MC, Phóng viên...">
    <meta name="keywords" content="Cộng đồng VITV,cong dong,bien tap vien,mc,phong vien">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/Content/Images/logo.png" />
    <meta property="og:image:width" content="286" />
    <meta property="og:image:height" content="60" />
}