<footer class="footer pages-footer">
    <div class="container">
        <div class="footer__content">
            <a class="g-logo-vit-footer footer__logo" href="/Home/Index"></a>
            <div class="footer__content__links">
                <nav class="footer__section" role="navigation">
                    <h3 class="footer__title">Programs &amp; initiatives</h3>
                    <ul class="footer__links">
                        <li class="m5"><a class="footer__link" href="/about/programs-initiatives/tedx-program">VITV</a></li>
                        <li class="m5"><a class="footer__link" href="/about/programs-initiatives/ted-fellows-program">VITV Fellows</a></li>
                        <li class="m5"><a class="footer__link" href="/about/programs-initiatives/ted-ed">VITV Ed</a></li>
                        <li class="m5"><a class="footer__link" href="/about/programs-initiatives/ted-open-translation-project">Open Translation Project</a></li>
                        <li class="m5"><a class="footer__link" href="/about/programs-initiatives/ted-institute">VITV Institute</a></li>
                        <li><a class="footer__link" href="/about/programs-initiatives/ads-worth-spreading">Ads Worth Spreading</a></li>
                    </ul>
                </nav>

                <nav class="footer__section" role="navigation">
                    <h3 class="footer__title">Ways to get VITV</h3>
                    <ul class="footer__links">
                        <li class="m5"><a class="footer__link" href="http://www.npr.org/programs/ted-radio-hour/" rel="nofollow" target="_blank">VITV Radio Hour on NPR</a></li>
                        <li class="m5"><a class="footer__link" href="/promos/TEDTalksEducation">VITV TV programs</a></li>
                        <li class="m5"><a class="footer__link" href="/about/programs-initiatives/ted-talks/ways-to-get-ted-talks">More ways to get VITV</a></li>
                    </ul>
                </nav>

                <nav class="footer__section" role="navigation">
                    <h3 class="footer__title">Follow VITV</h3>
                    <ul class="footer__links">
                        <li class="m5"><a class="footer__link" href="http://www.facebook.com/TED" target="_blank">Facebook</a></li>
                        <li class="m5"><a class="footer__link" href="http://twitter.com/tedtalks" target="_blank">Twitter</a></li>
                        <li class="m5"><a class="footer__link" href="http://plus.google.com/+TED" rel="publisher" target="_blank">Google+</a></li>
                        <li class="m5"><a class="footer__link" href="http://www.youtube.com/ted" target="_blank">YouTube</a></li>
                    </ul>
                </nav>

                <nav class="footer__section" role="navigation">
                    <h3 class="footer__title">Our community</h3>
                    <ul class="footer__links">
                        <li class="m5"><a class="footer__link" href="/people/speakers">VITV Speakers</a></li>
                        <li class="m5"><a class="footer__link" href="/people/fellows">VITV Fellows</a></li>
                        <li class="m5"><a class="footer__link" href="/people/translators">VITV Translators</a></li>
                        <li class="m5"><a class="footer__link" href="/people/tedx" rel="nofollow">VITV Organizers</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="footer__logo__bottom footer__services"></div>
</footer>
