
@{
    ViewBag.Title = "Giới thiệu về VITV";
    Layout = "~/Views/Shared/_VideosLayout.cshtml";
}

<div class="row to_customer_area">
    <div class="row vline">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <h3 class="navbar-brand">THÔNG ĐIỆP GỬI KHÁCH HÀNG</h3>
                    </div>
                    <div class="collapse navbar-collapse" id="to_customer_filter"></div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row m16">
        <div class="container">
            <div class="col-md-6"><img class="wow fadeInLeft" src="~/Content/Images/about1.jpg"></div>
            <div class="col-md-6 wow fadeInRight">
                <p>Kênh truyền hình kinh tế tài chính VITV chuyên cung cấp các thông tin, các chỉ số kinh tế, chỉ số chứng khoán, giá vàng, giá dầu, tỉ giá ngoại tệ trong nước và thế giới.</p>
                <p>Được cập nhập liên tục theo thời gian thực sẽ mang đến cho bạn nguồn thông tin về kinh tế, kinh doanh trong và ngoài nước nhanh nhất, mới nhất và chính xác nhất. Doanh nghiệp của bạn đang cần một giải pháp truyền thông tổng thể trong ngắn hạn và dài hạn. Thương hiệu của bạn đang được định vị và hình ảnh của công ty bạn đang cần được quảng bá rộng rãi.</p>
                <p>VITV với những chương trình chuyên sâu, đa dạng, những phương thức hỗ trợ truyền thông và bảo trợ thông tin chuyên nghiệp sẽ đưa thương hiệu, sản phẩm, dịch vụ của doanh nghiệp bạn đến với khách hàng một cách nhanh chóng, hiệu quả nhất.</p>
            </div>
        </div>
    </div>
</div>
<div class="row about_vitv_area">
    <div class="row vline">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <h3 class="navbar-brand">TỔNG QUAN VỀ VITV</h3>
                    </div>
                    <div class="collapse navbar-collapse" id="about_vitv_filter"></div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row m16">
        <div class="container">
            <div class="col-md-12">
                <p class="wow fadeInDown" data-wow-duration="400ms" data-wow-delay="0ms"><img src="~/Content/Images/about4.jpg" /></p>
                <p class="wow fadeInDown" data-wow-duration="400ms" data-wow-delay="150ms">Kênh truyền hình Kinh tế Tài chính VITV được thành lập năm 2007 bởi Tập đoàn VIT - Tập đoàn đa lĩnh vực về kinh tế, tài chính, chứng khoán, bất động sản, du lịch và sản xuất.</p>
                <p class="wow fadeInDown" data-wow-duration="400ms" data-wow-delay="200ms">Chính thức lên sóng ngày 15 tháng 03 năm 2009, là kênh truyền hình chuyên biệt về kinh tế tài chính đầu tiên tại Việt Nam được phát sóng theo thời gian thực với hầu hết là các bản tin trực tiếp. Cập nhập nhanh chóng, đầy đủ và chính xác các chỉ số chứng khoán, giá xăng dầu, giá vàng, lãi suất, tỉ giá ngoại tệ. Mang đến cho người xem một bức tranh toàn cảnh của nền kinh tế với các lĩnh vực tài chính ngân hàng, bất động sản, chứng khoán, xuất nhập khẩu.</p>
                <div class="row m13">
                    <div class="col-md-6 wow fadeInLeft"><img src="~/Content/Images/about2.jpg" /></div>
                    <div class="col-md-6 wow fadeInRight"><img src="~/Content/Images/about3.jpg" /></div>
                </div>
                <p class="wow fadeInDown" data-wow-duration="400ms" data-wow-delay="250ms">Với đội ngũ phóng viên, biên tập viên giàu kinh nghiệm, đam mê, nhiệt huyết; quản lý chuyên biệt theo từng bản tin, chuyên mục cụ thể góp phần xây dựng các chương trình đa dạng, sâu sắc về thực trạng nền kinh tế tài chính trong nước và quốc tế.</p>
                <p class="wow fadeInDown" data-wow-duration="400ms" data-wow-delay="300ms">Là một trong những kênh truyền hình có độ phủ sóng lớn nhất hiện nay, với 24h phát sóng mỗi ngày và được phủ sóng trên toàn quốc gia. Qua các hệ thống Truyền hình cáp Việt Nam (VTV cab), Truyền hình cáp Saigon Tourist (SCTV), Hệ thống cáp Hà Nội (BTS), hệ thống truyền hình cáp các Tỉnh, Thành. Không chỉ vậy, VITV còn được phát trên các hệ thống dịch vụ của MobileTV như: Mobifone, Vinaphone, Viettel,…và các hệ thống dịch vụ IPTV, MyTV và trên website của VITV, TV24.VN.</p>
                <p class="wow fadeInDown" data-wow-duration="400ms" data-wow-delay="350ms">Phát sóng với hầu hết là các bản tin trực tiếp, cập nhập đầy đủ mọi thông tin diễn biến về thị trường tài chính trong nước và quốc tế, những tin tức nổi bật những sự kiện kinh tế đáng quan tâm. Các thông tin, chỉ số chính xác từ việc mua bản quyền thông tin chính thức từ Reuters, Dow Jones, AP, Bloomberg, CNBC, BBC.</p>
                <p class="wow fadeInDown" data-wow-duration="400ms" data-wow-delay="400ms">Kênh truyền hình Kinh tế Tài chính VITV với 30 chương trình bao gồm các bản tin, chuyên mục và các chương trình giải trí với nội dung sống động. Bên cạnh đó, còn có sự góp mặt của các chương trình đặc sắc nhân dịp kỷ niệm các ngày lễ đặc biệt trong năm. Mỗi chương trình mang một nét riêng biệt đi sâu vào từng lĩnh vực, đem đến cho người xem sự lựa chọn thông tin dễ dàng và nhanh chóng.</p>
                <p class="wow fadeInDown" data-wow-duration="400ms" data-wow-delay="450ms">VITV xây dựng chương trình luôn chú trọng tới từng chi tiết từ hình ảnh cho đến nội dung. Các bản tin, chuyên mục luôn có sự tham gia, đánh giá của các chuyên gia kinh tế hàng đầu. Với đội ngũ khách mời cao cấp là các nhà lãnh đạo đầu ngành, những nhà hoạch định chiến lược, các chuyên gia kinh tế tài chính có cái nhìn tổng quan, đa chiều, có kiến thức chuyên sâu về ngành về lĩnh vực được đưa ra bàn luận và trao đổi.</p>
                <p class="wow fadeInDown" data-wow-duration="400ms" data-wow-delay="500ms">Thông tin chính xác, nội dung sống động, tin tức cập nhập, mọi lúc, mọi nơi chính là tôn chỉ mục đích của VITV để thực sự là nơi “Khởi nguồn kinh doanh” cho các doanh nghiệp, các nhà đầu tư.</p>
            </div>
        </div>
    </div>
</div>
<div class="row mission_area">
    <div class="row vline">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <h3 class="navbar-brand">TẦM NHÌN VÀ SỨ MỆNH</h3>
                    </div>
                    <div class="collapse navbar-collapse" id="mission_filter"></div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row mission_content">
        <div class="container">
            <div class="col-md-12" style="background-image:url(/Content/Images/about5.jpg);">
                <div class="mission_floating wow fadeInRight">
                    <h4>Tầm nhìn</h4>
                    <p>Nhận biết được nhu cầu của khách hàng về tầm quan trọng của thông tin kinh tế - tài chính trong và ngoài nước đối với các doanh nghiệp, nhà đầu tư, các tổ chức kinh tế.  VITV với định hướng phát triển trở thành một kênh truyền hình chuyên biệt về kinh tế tài chính hàng đầu Việt Nam. Với thông tin chính xác, nội dung sống động , tin tức cập nhập, mọi lúc, mọi nơi.</p>
                    <h4 class="m3">Sứ mệnh</h4>
                    <p>Với Slogan: “Khởi nguồn kinh doanh” Kênh truyền hình kinh tế tài chính VITV luôn mang trong mình sứ mệnh trở thành một hãng truyền thông uy tín, chất lượng. Đem đến cho khách hàng những thông tin, những cái nhìn tổng quan, những phân tích đánh giá đa chiều, phục vụ tốt nhất góp phần cho sự phát triển của các doanh nghiệp.</p>
                </div>
            </div>
            <div class="mission_floating mobile-show">
                <h4>Tầm nhìn</h4>
                <p>Nhận biết được nhu cầu của khách hàng về tầm quan trọng của thông tin kinh tế - tài chính trong và ngoài nước đối với các doanh nghiệp, nhà đầu tư, các tổ chức kinh tế.  VITV với định hướng phát triển trở thành một kênh truyền hình chuyên biệt về kinh tế tài chính hàng đầu Việt Nam. Với thông tin chính xác, nội dung sống động , tin tức cập nhập, mọi lúc, mọi nơi.</p>
                <h4 class="m3">Sứ mệnh</h4>
                <p>Với Slogan: “Khởi nguồn kinh doanh” Kênh truyền hình kinh tế tài chính VITV luôn mang trong mình sứ mệnh trở thành một hãng truyền thông uy tín, chất lượng. Đem đến cho khách hàng những thông tin, những cái nhìn tổng quan, những phân tích đánh giá đa chiều, phục vụ tốt nhất góp phần cho sự phát triển của các doanh nghiệp.</p>
            </div>
        </div>
    </div>
</div>
<div class="row partner_area">
    <div class="row vline">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <h3 class="navbar-brand">ĐỐI TÁC TRUYỀN THÔNG</h3>
                    </div>
                    <div class="collapse navbar-collapse" id="partner_filter"></div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row m16">
        <div class="container">
            <div class="col-md-12">
                <p>Cổng thông tin điện tử chính phủ.</p>
                <p>Báo quân đội nhân dân.</p>
                <p>Tổng cục thống kê.</p>
                <p>Bộ công thương, Bộ tài chính, Bộ xây dựng, Bộ Kế hoạch và Đầu tư.</p>
                <p>Ngân hàng Nhà nước Việt Nam.</p>
                <p>Ủy ban Quốc gia về Chứng khoán.</p>
                <p>VCCI - Phòng Thương mại và Công nghiệp Việt Nam</p>
                <p>Reuters, Dow Jones, Bloomberg, CNBC, BBC</p>
            </div>
        </div>
    </div>
</div>

@section seo{
    <meta name="description" content="Giới thiệu về VITV, Thông điệp gửi khách hàng, Tổng quan, Tầm nhìn và sứ mệnh, Đối tác truyền thông...">
    <meta name="keywords" content="Giới thiệu VITV,Thông điệp gửi khách hàng,Tổng quan,Tầm nhìn và sứ mệnh,Đối tác truyền thông,Gioi thieu VITV,Thong diep gui khach hang,Tong quan,Tam nhin va su menh,Doi tac truyen thong">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/Content/Images/logo.png" />
    <meta property="og:image:width" content="286" />
    <meta property="og:image:height" content="60" />    
}