@model HolidayModel

@{
    ViewBag.Title = "Chỉnh sửa";
}

<div class="row">
    <div class="col-lg-12">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2>Chỉnh sửa</h2>
            </header>
            <div class="main-box-body clearfix">
                @using (Html.BeginForm("Edit", "Holiday", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)
                    @Html.Partial("_CreateOrEdit", Model)

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-success">Hoàn thành</button>
                            @Html.ActionLink("Quay về trang quản lý", "Management")
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        $(document).ready(function () {
            $('#rangeBegin').datetimepicker({
                format: 'd/m/Y',
                formatDate: 'd/m/Y',
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: jQuery('#rangeEnd').val() ? jQuery('#rangeEnd').val() : false
                    })
                },
                timepicker: false
            });
            $('#rangeEnd').datetimepicker({
                format: 'd/m/Y',
                formatDate: 'd/m/Y',
                onShow: function (ct) {
                    this.setOptions({
                        minDate: jQuery('#rangeBegin').val() ? jQuery('#rangeBegin').val() : false
                    })
                },
                timepicker: false
            });

        });

    </script>
}