@model List<Dayoff>

<div class="page-header">
    <h1>
        Thiết lặp ngày nghỉ
        <small>
            <a href="/Employee/ProfilePage">
                <i class="ace-icon fa fa-angle-double-right"></i>
            </a>
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <div class="col-sm-12">
                <div class="space"></div>

                <div id="calendar"></div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
@section scripts
{
    <script type="text/javascript">
        jQuery(function ($) {

            /* initialize the external events
                -----------------------------------------------------------------*/

            $('#external-events div.external-event').each(function () {

                // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                // it doesn't need to have a start or end
                var eventObject = {
                    title: $.trim($(this).text()) // use the element's text as the event title
                };

                // store the Event Object in the DOM element so we can get to it later
                $(this).data('eventObject', eventObject);

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });




            /* initialize the calendar
            -----------------------------------------------------------------*/

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();


            var calendar = $('#calendar').fullCalendar({
                minTime: '09:00',
                maxTime: '18:00',
                businessHours: {
                    start: '09:00', // a start time (10am in this example)
                    end: '18:00', // an end time (6pm in this example)

                    dow: [ 1, 2, 3, 4 ]
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    // (Monday-Thursday in this example)
                },
                //isRTL: true,
                buttonHtml: {
                    prev: '<i class="ace-icon fa fa-chevron-left"></i>',
                    next: '<i class="ace-icon fa fa-chevron-right"></i>'
                },
                events: [
                            @foreach(var day in Model)
                        {
                            <text>{
                                id : '@day.Id',
                                title: '@day.Note',
                                start : '@day.Begin',
                                end :  '@day.End',
                                overlap:false,
                                allDay: true,
                                backgroundColor: '#89aeff'
                            },
                            </text>
                        }

                ],
                
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                drop: function (date, allDay) { // this function is called when something is dropped
                    // retrieve the dropped element's stored Event Object
                    var originalEventObject = $(this).data('eventObject');
                    var $extraEventClass = $(this).attr('data-class');


                    // we need to copy it, so that multiple events don't have a reference to the same object
                    var copiedEventObject = $.extend({}, originalEventObject);

                    // assign it the date that was reported
                    copiedEventObject.start = date;
                    copiedEventObject.allDay = allDay;
                    if ($extraEventClass) copiedEventObject['className'] = [$extraEventClass];

                    // render the event on the calendar
                    // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }

                },
                selectable: true,
                selectHelper: true,
                select: function (start, end) {
                    $.post("/PersonalTask/CheckDayOff", { start: start.format(), end: end.format()})
                                        .done(function (data) {
                                            if(data.success)
                                            {
                                                bootbox.dialog({
                                                    title: "Thiết lặp ngày nghỉ",
                                                    message: '<div class="row">  ' +
                                                        '<div class="col-md-12"> ' +
                                                        '<form class="form-horizontal"> ' +
                                                            '<div class="form-group"> ' +
                                                                '<label class="col-md-4 control-label" for="name">Nội dung</label> ' +
                                                                '<div class="col-md-4"> ' +
                                                                    '<input id="name" name="name" type="text" placeholder="Nội dung" class="form-control input-md"> ' +
                                                                '</div> ' +
                                                            '</div> ' +
                                                            '</div>' +
                                                        '</form> </div>  </div>',
                                                    buttons: {
                                                        success: {
                                                            label: "Save",
                                                            className: "btn-success",
                                                            callback: function () {
                                                                var title = $('#name').val();
                                                                $.post("/Holiday/Add", { title: title, start: start.format(), end: end.format()})
                                                                    .done(function (data) {
                                                                        console.log(data);
                                                                        if (data.success)
                                                                        {
                                                                            calendar.fullCalendar('renderEvent',
                                                                                {
                                                                                    id : data.id,
                                                                                    title: title,
                                                                                    start: start,
                                                                                    end: end,
                                                                                    overlap: false,
                                                                                    allDay: true,
                                                                                    backgroundColor: '#89aeff'
                                                                                },
                                                                                true // make the event "stick"
                                                                            );
                                                                        }
                                                                        else
                                                                        {
                                                                        }
                                                                    });

                                                            }
                                                        }
                                                    }
                                                }
                                            );

                                                calendar.fullCalendar('unselect');
                                            }
                                            else
                                            {
                                                alert("Trùng với ngày nghỉ !");
                                            }
                                        });
                } ,
                dayClick: function(date, jsEvent, view) {

                    //alert('Clicked on: ' + date.format());

                    //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);

                    //alert('Current view: ' + view.name);

                    //// change the day's background color just for fun
                    //$(this).css('background-color', 'red');
                    //console.log(jsEvent);
                    //return false;
                },
                eventClick: function (calEvent, jsEvent, view) {

                    //display a modal
                    var modal =
                    '<div class="modal fade">\
			          <div class="modal-dialog">\
			           <div class="modal-content">\
				         <div class="modal-body">\
				           <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px;">&times;</button>\
				           <form class="no-margin">\
					          <label>Thay đổi &nbsp;</label>\
					          <input class="middle" autocomplete="off" type="text" value="' + calEvent.title + '" />\
					         <button type="submit" class="btn btn-sm btn-success"><i class="ace-icon fa fa-check"></i> Save</button>\
				           </form>\
				         </div>\
				         <div class="modal-footer">\
					        <button type="button" class="btn btn-sm btn-danger" data-action="delete"><i class="ace-icon fa fa-trash-o"></i>Xóa</button>\
					        <button type="button" class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i>Hủy</button>\
				         </div>\
			          </div>\
			         </div>\
			        </div>';


                    var modal = $(modal).appendTo('body');
                    modal.find('form').on('submit', function (ev) {
                        ev.preventDefault();
                        //PersonalTask/Edit
                        calEvent.title = $(this).find("input[type=text]").val();

                        $.post("/Holiday/Edit", { id: calEvent.id, title: calEvent.title })
                        .done(function (data) {

                        });

                        calendar.fullCalendar('updateEvent', calEvent);
                        modal.modal("hide");
                    });
                    modal.find('button[data-action=delete]').on('click', function () {
                        //PersonalTask/Delete
                        $.post("/Holiday/Delete", { id: calEvent.id })
                        .done(function (data)
                        {
                            calendar.fullCalendar('removeEvents', function (ev) {
                                return (ev.id == calEvent.id);
                            })
                            modal.modal("hide");
                        });

                    });

                    modal.modal('show').on('hidden', function () {
                        modal.remove();
                    });

                }

            });


        })
    </script>
}