@model Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Content</div>
    <div class="display-field">@Model.Content</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Quay về trang quản lý", "Management")
</p>


