
<div class="col-md-12">
    <table id="table-comparevideoreportnewreview" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td rowspan="2"><b>Tháng</b></td>
                <td rowspan="2"><b>Tuần</b></td>
                <td rowspan="2"><b>Tên video</b></td>
                <td colspan="1"><b>Lượt xem không trùng</b></td>
                <td colspan="2"><b>So với trung bình</b></td>
                <td colspan="1"><b>Lượt xem trùng</b></td>
                <td colspan="2"><b>So với trung bình</b></td>
                <td colspan="2"><b>Tỷ lệ xem lại</b></td>
                   
            </tr>
            <tr>
                <td>Lượt xem</td>

                <td>Thay đổi</td>
                <td>% thay đổi</td>
                    
                <td>Lượt xem</td>

                <td>Thay đổi</td>
                <td>% thay đổi</td>

                <td>Lượt xem</td>
                <td>%</td>
            </tr>
        </thead>
        <tbody>


        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>Tổng cộng</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th>Trung bình</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>


