@*@model VITV.Data.ViewModels.Portal.CompareVideoModel*@
<div class="row">
    <div class="col-md-10">
        <div id="chart-1" style="height: 600px; min-width: 310px;" class="chart"></div>
    </div>
    <div class="col-md-12">
        <table id="table-comparevideoreport" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td rowspan="2"><b>Tháng</b></td>
                    <td rowspan="2"><b>Tuần</b></td>
                    <td rowspan="2"><b>Tên video</b></td>
                    <td colspan="4"><b>Tuần đầu tiên</b></td>
                    <td colspan="4"><b>Lượt xem (Tất cả)</b></td>
                    <td colspan="2"><b>Xem lại</b></td>
                    <td rowspan="2"><b>Khoảng thời gian phát video</b></td>
                    <td rowspan="2"><b>Thời lượng phát video</b></td>
                </tr>
                <tr>
                    <td>Lượt xem</td>
                    <td>Thay đổi so với TB</td>
                    <td>Cao nhất</td>
                    <td>Thấp nhất</td>

                    <td>Lượt xem</td>
                    <td>Thay đổi so với TB</td>
                    <td>Cao nhất</td>
                    <td>Khoảng thời gian xem</td>

                    <td>Lượt xem</td>
                    <td>Khoảng thời gian xem</td>
                </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
               <tr>
                    <th></th>
                    <th></th>
                    <th>Tổng cộng</th>

                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>


                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                    <th></th>
                    <th></th>

                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Trung bình</th>

                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>


                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                    <th></th>
                    <th></th>

                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
