@model Department

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Thêm tổ</h4>
</div>
@using (Ajax.BeginForm("Delete", "Department", new { }, new AjaxOptions
{
    OnSuccess = "OnDeleteDepartmentSuccess",
    HttpMethod = "Post"
}, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="row">
            <h4>Department</h4>
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary">Lưu</button>
    </div>
}

